/* 共通 */
.right{
	float:right;
}

.left{
	float: left;
}

.center{
	text-align: center;
}

body,
p,
h4,
h1{
	margin: 0;
}

.button{
	text-align: center;
	background: #ff8c00;
	color:#ffffff;
	border-radius: 5px;
	margin-bottom: 5px;
	margin-top: 5px;
}

.table{
	display: table;
}

.table-cell{
	display: table-cell;
}

.myButton {
	margin: 20px;
	background-color:#fa8d08;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #ff7a05;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.myButton:hover {
	background-color:#f75d0a;
}
.myButton:active {
	position:relative;
	top:1px;
}



/* TOPページのcss */
#headerTitle{
	margin: 100px 0 40px 0;
	position: relative;
}

#logo_osusowake_1{
	width: 100%;
	height: 44px;
	text-align: center;
	margin: 0 auto;
}

#pass,
#get{
	padding: 10px;
}

#leftHand{
	background-image: url("../image/hand_left.png");
	width: 50%;
	height: 185px;
	background-size: contain;
	background-repeat: no-repeat;
}

#rightHand{
	background-image: url("../image/hand_right.png");
	width: 50%;
	height: 185px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: right;
}

#yuge{
	position: absolute;
  top: 0px;
  right: 0;
}

#yugeR{
	position: absolute;
	right: 25px;
	top: -100px;
}

#yugeL{
	position: absolute;
	top: -70px;
}

/* 詳細ページのcss */
#osusowakeImage{
	border: 1px solid;
}

#osusowakeImage img{
	width: 100%;
}

#description{
	/* border: 1px solid; */
}

#evaluate{
	/* border: 1px solid;
	display: inline-block;*/
	width: 50%;
}

#evaluation{
	/* border: 1px solid;
	display: inline-block; */
	position: absolute;
	right: 0;
	top:0;
}

#itadakimasu{
	border: 1px solid;
	text-align: center;
	background: #ff8c00;
	color:#ffffff;
	border-radius: 5px;
	padding:5px;
}

#material{
	border: 1px solid;
}

#prof{
	border: 1px solid;
	margin: 5px;
	padding: 5px;
	border-radius: 5px;
	position: relative;
}
